/***************************
GENERAL
***************************/

body {
    font-family: 'Mulish', sans-serif;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

/***************************
HEADING
***************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
h1 {
    font-family: 'Mulish', sans-serif;
    margin: 15px, 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
    padding-top: 10px;
}

h2 {
    font-size: 1.3em;
    margin: -5px 0 0;
    font-weight: normal;
}
#logo {
    text-align: center;
    margin: 0;
}




/***************************
NAVIGATION
***************************/
#navigation {
    text-align: center;
    padding: -10px;
    margin: 5px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 700;
    padding: 15px 10px;

}


/***************************
FOOTER
***************************/
footer {
    font-size: 1em;  
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ffffff;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}




/***************************
PAGE PORTFOLIO
***************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #4b4949;
    color: #ffffff;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #ffffff;
}




/***************************
PAGE: ABOUT
***************************/
.profile-photo {
    display: block;
    max-width: 150px;
    margin: 0 auto 3px;
    border-radius: 100%;
}





/***************************
CONTACT PAGE
***************************/
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}
.contact-info li.phone a {
    background-image: url('Images/Social\ Media\ Icons/phone.png');
}

.contact-info li.mail a {
    background-image: url('Images/Social\ Media\ Icons/mail.png');
}

p {
    text-align: center;
}




/***************************
COLORS
***************************/
/* blue header */
header {
    background: #111111;
    border-color: #000000;
}

h1, h2 {
    color: white;
}

/* nav background on mobile */
#navigation {
   background-color: #111111;
}

/*links*/
a {
    color: #126ca0;
}

/* nav link */
nav a, nav a:visited {
    color: white;
}

/* selected nav link */
nav a.selected {
    color: #535355;
}

nav a:hover {
    color: #3a3a3d;
}
/* site body */
body {
    background-color: rgb(29, 28, 28);
    color: #063c5c;
}